[Desktop Entry]
Name=CCloud
Comment=Free movie and series streaming and download application for Iranian Persian content
Exec=/usr/bin/ccloud_gui/AppRun
Icon=ccloud_gui
Terminal=false
Type=Application
Categories=Utility;